/***************/
/* HEADER */
header {
    height : 300px ;
    background-image : url('https://img.freepik.com/free-vector/pink-horizontal-banner-header-isolated-white-background-poster-background-brochure-template_199548-774.jpg?size=626&ext=jpg');
    background-size: cover ;
}
header a{
    cursor :grab ;
    padding : 15px ;
    padding-left: 20px ;
    padding-top : 140px ;
    float : left ;
    font-size : 17px ;
    font-weight : bolder ;
    text-decoration:none;
    color : rgb(255, 255, 255,0.7) ;
}
header h1 {
    cursor : alias ;
    color : rgb(0, 0, 0 , 0.7) ;
    display: inline-block;
    font-size: 50px;
    font-weight : bolder ;
}
header img {
    padding-top: 5px ;
    padding-left: 5px ;
}
header a:hover {
    color: rgb(202, 236, 8);
}
/* FOOTER */
footer {
    background-image : url('/img/footer.jpg') ;
    height : 300px ;
}
footer section:nth-child(1) {
    padding-top : 190px ;
    padding-right : 30px ;
    float : right ;
}
footer section a {
    cursor :grabbing ;
    color: rgb(255, 255, 255 , 0.8);
    text-decoration : none ;
    font-weight : bolder ;
    font-size : 16px ;
    padding : 14px ;
}
footer section a:hover {
    color: rgb(202, 236, 8);
}
footer section img {
    padding : 10px ;
}
/* BODY */
body {
    width : 1024px ;
     margin : auto ;    
}
/**********************************/




























